* {
    font-family: Race Sport, sans-serif;
}

body {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h2, h4 {
    color: #ffffff;
}

.davi-principal-done {
    height: 880px
}

.logo {
    margin-top: 130px;
}

.letsOperate {
    margin-top: 20px;
    width: 700px;
}

.letsOperate strong {
    color: #e70000;
}

.community-btn {
    margin-top: 30px;
}

.community-btn .btn-danger {
    background-color: #00d400 !important;
    border: 1px solid #00d400 !important;
    box-shadow: 1px 1px 20px #00d400af;
    padding: 15px;
    transition: .4s;
}

.community-btn .btn-danger:hover {
    transition: .4s;
    transform: scale(1.1);
}

.bx {
    font-size: 15px;
}

.freeSec h1 {
    color: #00d400;
    text-shadow: 1px 1px 20px #00d400af;
}

.freeSec p {
    color: #ffffff;
    text-align: justify;
    width: 1000px;
    font-size: 22px;
}

.card-prog {
    padding: 30px;
    border: 2px dashed #00d400;
    border-radius: 8px;
}

.card-header .bx {
    color: #e70000;
    font-size: 42px;
}

.card-footer p {
    color: #ffffff;
}

.depositions {
    margin-top: 100px;
}

.item {
    border: 2px solid #e70000;
    border-radius: 12px;
}

.item img{
    border-radius: 12px;
}

.col-presentation p {
    color: #ffffffc0;
    text-align: justify;
    line-height: 26px;
}

.redes-sociais {
    position: fixed;
    z-index: 100000000;
    top: 420px;
    left: 10px;
    padding: 5px;
    background-color: #e70000;
    border-radius: 12px;
}

.instagram {
    position: absolute;
    z-index: 100000000;
    top: 780px;
    left: 400px;
    padding: 0px;
    background-color: #e7000000;
    border-radius: 12px;
}

.instagram a {
    color: #ffffff00;
}

.redes-sociais ul {
    padding: 0px !important;
    margin-bottom: 0px !important;
}

.redes-sociais ul li {
    list-style: none;
}

.redes-sociais ul li a .bx {
    font-size: 28px;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .letsOperate {
        width: 100%;
    }

    .logo {
        margin-top: 20px;
        height: 45px;
    
    }

    .davi-principal-done {
        height: 500px
    }

    .redes-sociais {
        top: 301px;
        left: 10px;
        padding: 2px;
        border-radius: 8px;
    }

    .instagram {
        top: 440px;
        left: 80px;
    }
}